<section class="relative">
  <div class="container px-4 mx-auto mb-16">
    <div class="max-w-3xl mb-14 mx-auto text-center">
      <div>
        <h2 class="mt-8 mb-10 text-4xl font-semibold font-heading"><%= t('.title') %></h2>
      </div>

      <div class="flex items-center justify-end">
        <%= link_to t('.add_product'), new_product_path, class: 'mb-4 px-6 py-4 text-sm text-white font-semibold bg-red-400 hover:bg-red-300 rounded transition duration-200', data: { turbo_frame: 'modal' } %>
      </div>
    </div>

    <div id="products" class="flex flex-wrap -m-3 mb-16">
      <%= render partial: 'product', collection: @products %>
    </div>
    <div class="text-center">
      <a href="#" class="mb-4 px-6 py-4 text-sm text-white font-semibold bg-red-400 hover:bg-red-300 rounded transition duration-200"><%= t('.see_more') %></a>
    </div>
  </div>
</section>
